  <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <span>remember me?</span>
            <%= f.check_box :remember_me %>
          </div>
        <% end %>
        <span>
          <%= link_to "パスワードを忘れた方はこちら", new_japanese_password_path %>
        </span>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "japaneses/shared/links" %>
