<div class="container" style="padding-top:100px;">
  <div class="row justify-content-center" style="margin-bottom:100px;">
    <div class="col mr-4 bg-lightorange text-center py-3" style="max-width:400px;min-width:400px;border-radius:10px;margin-bottom:100px;filter:drop-shadow(1px 0px 6px rgba(0,0,0,0.3));margin-top:-60px;">
      <div class="left-image" style="margin-top:5px;">
        <% if current_foreigner.image %>
          <%= image_tag current_foreigner.image.url(:_300), size: "180x180", class: "circle-image border border-lightorange" %>
        <% else %>
            <%= image_tag 'people_md.png', size: "130x130", class: "circle-image border border-dark"%>
        <% end %>
      </div>

      <div class="d-flex justify-content-center mb-4 my-3 pb-4 border-bottom border-dark">
        <div class="mr-3">
          <% if current_foreigner.nation %>
            <%= image_tag current_foreigner.nation.flag.url, size: "37x23", style: "border-radius:0px;" %>
          <% end %>
        </div>
        <div class="h5 mb-0 align-self-center" style="font-family:'Helvetica Neue';">
          <%= current_foreigner.name %>
          <% if current_foreigner.age %>
            <span class="font-weight-normal" style="font-size:18px;">(<%= current_foreigner.age %>)</span>
          <% end %>
        </div>
      </div>

      <div class="d-flex mb-4 mx-auto">
        <div class="ml-4 py-1 border font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;max-height:29px;border-radius:4px;font-size:13px;opacity:0.9;">
          Nation
        </div>
        <div class="ml-4 mb-0 h5 align-self-end text-left">
          <%= current_foreigner.nation ? current_foreigner.nation.name : "none" %>
        </div>
      </div>

      <div class="d-flex mb-4">
        <div class="ml-4 py-1 border font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;border-radius:4px;font-size:13px;opacity:0.9;">
          Japanese Level
        </div>
        <div class="h5 ml-4 mb-0 align-self-end">
          <%= current_foreigner.j_l ? current_foreigner.j_l : "none" %>
        </div>
      </div>

      <div class="d-flex mb-4">
        <div class="ml-4 py-1 px-2 border border-dark font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;border-radius:4px;font-size:13px;opacity:0.9;">
          First Language
        </div>
        <div class="h5 ml-4 mb-0 align-self-end">
          <%= current_foreigner.f_lang ? current_foreigner.f_lang : "none" %>
        </div>
      </div>

      <div class="d-flex mb-4">
        <div class="ml-4 py-1 px-2 border border-dark font-italic bg-darkorange border-darkorange text-white" style="border-radius:4px;font-size:13px;opacity:0.9;">
          Second Language
        </div>
        <div class="h5 ml-4 mb-0 align-self-end">
          <% if current_foreigner.s_lang %>
            <%= current_foreigner.s_lang %>
          <% else %>
            none
          <% end %>
        </div>
      </div>

      <div class="ml-3 mt-5 py-1 px-2 w-50 border border-dark mb-2 font-italic border-darkorange main-color" style="border-radius:4px;font-size:16px;opacity:0.9;">
        Introduction
      </div>
      <div class="container">
        <div class="mb-0 mx-auto text-left bg-white p-3" style="font-size:13px;border-radius:4px;">
          <%= current_foreigner.profile && !current_foreigner.profile.intro.blank? ? current_foreigner.profile.intro : "(You need to complete your introduction to post meal.)" %>
        </div>
      </div>
    </div>

    <div class="col ml-3 bg-white pb-3 foreigner-edit" style="max-width:700px;min-width:380px;margin-top:-65px;">
      <div class="row mb-3 py-3 bg-lightorange">
        <div class="col-2 text-center px-0 font-weight-bold" style="font-size:17px;">
          <i class="fas fa-cog"></i>
          <%= link_to "setting", edit_foreigner_registration_path, style: "color:darkorange;" %>
        </div>
        <div class="col-3 text-center font-weight-bold" style="font-size:17px;">
          <i class="fas fa-envelope"></i>
          <%= link_to "message", rooms_path, style: "color:darkorange;" %>
        </div>
        <div class="col-2 col-md-4 font-weight-bold" style="font-size:17px;">
          <i class="fas fa-user-edit"></i>
          <%= link_to "introduction", new_profile_path, style: "color:darkorange;" %>
        </div>
      </div>
      <%= yield :edit_foreigner %>
      <%= yield :rooms %>
      <%= yield :new_profile %>
      <%= yield :edit_profile %>
    </div>
  </div>
</div>
