<div class="container" style="padding-top:100px;">
  <div class="row justify-content-center" style="margin-bottom:100px;">
    <div class="col-lg-4 col-md-8 bg-lightorange text-center py-3 h-100 w-100 " style="border-radius:10px;margin-bottom:100px;filter:drop-shadow(1px 0px 6px rgba(0,0,0,0.3));">
      <div class="left-image" style="margin-top:-90px;">
        <% if current_foreigner.image %>
          <%= image_tag current_foreigner.image.url(:_200), size: "145x145", class: "circle-image border border-lightorange" %>
        <% else %>
            <%= image_tag 'people_md.png', size: "130x130", class: "circle-image border border-dark"%>
        <% end %>
      </div>

      <div class="d-flex justify-content-center mb-4 my-3 pb-4 border-bottom border-dark">
        <div class="mr-3">
          <% if current_foreigner.nation %>
            <%= image_tag current_foreigner.nation.flag.url, size: "37x23", style: "border-radius:7px;" %>
          <% end %>
        </div>
        <div class="h4 mb-0 align-self-center" style="font-family:'Helvetica Neue';">
          <%= current_foreigner.name %>
          <% if current_foreigner.age %>
            <span class="font-weight-normal" style="font-size:18px;">(<%= current_foreigner.age %>)</span>
          <% end %>
        </div>
      </div>

      <div class="d-flex mb-3">
        <div class="ml-4 py-1 px-2 border font-italic bg-darkorange border-darkorange text-white" style="border-radius:10px;font-size:13px;opacity:0.9;">
          Nation
        </div>
        <div class="mx-4 mb-0 h5 align-self-center ml-auto">
          <%= current_foreigner.nation ? current_foreigner.nation.name : "none" %>
        </div>
      </div>

      <div class="d-flex mb-3">
        <div class="ml-4 py-1 px-2 border border-dark font-italic bg-darkorange border-darkorange text-white" style="border-radius:10px;font-size:13px;opacity:0.9;">
          Japanese
        </div>
        <div class="h5 mx-4 mb-0 align-self-center ml-auto">
          <%= current_foreigner.j_l ? current_foreigner.j_l : "none" %>
        </div>
      </div>

      <div class="d-flex mb-3">
        <div class="ml-4 py-1 px-2 border border-dark font-italic bg-darkorange border-darkorange text-white" style="border-radius:10px;font-size:13px;opacity:0.9;">
          First Language
        </div>
        <div class="h5 mx-4 mb-0 align-self-center ml-auto">
          <%= current_foreigner.f_lang ? current_foreigner.f_lang : "none" %>
        </div>
      </div>

      <% if current_foreigner.s_lang %>
        <div class="d-flex mb-5">
          <div class="ml-4 py-1 px-2 border border-dark font-italic bg-darkorange border-darkorange text-white" style="border-radius:10px;font-size:13px;opacity:0.9;">
            Second Language
          </div>
          <div class="h5 mx-4 mb-0 align-self-center ml-auto">
            <%= current_foreigner.s_lang %>
          </div>
        </div>
      <% end %>

      <div class="ml-4 py-1 px-2 w-50 border border-dark mb-3 font-italic border-darkorange main-color" style="border-radius:10px;font-size:13px;opacity:0.9;">
        Profile
      </div>
      <div class="container">
        <div class="mb-0 mx-auto text-left" style="font-size:13px;">
          <%= current_foreigner.intro ? current_foreigner.intro : "(You need to complete your introduction to post meal.)" %>
        </div>
      </div>
    </div>

    <div class="col-lg-7 col-md-10 offset-md-1 bg-white pb-3 foreigner-edit" style="margin-top:-65px;">
      <div class="row mb-3 py-3 bg-lightorange">
        <div class="col-2 text-center px-0 font-weight-bold" style="font-size:17px;">
          <i class="fas fa-cog"></i>
          <%= link_to "setting", edit_foreigner_registration_path, style: "color:darkorange;" %>
        </div>
        <div class="col-3 text-center font-weight-bold" style="font-size:17px;">
          <i class="fas fa-envelope"></i>
          <%= link_to "message", rooms_path, style: "color:darkorange;" %>
        </div>
        <div class="col-2 col-md-4 font-weight-bold" style="font-size:17px;">
          <i class="fas fa-user-edit"></i>
          <%= link_to "profile", rooms_path, style: "color:darkorange;" %>
        </div>
      </div>
      <%= yield :edit_foreigner %>
      <%= yield :rooms %>
    </div>
  </div>
</div>
