<% if Meal.count > 2 and @english_meals.count > 2 %>
  <section class="px-5 bg-white">
    <div class="mb-4 h3 w-100">
      <div class="ml-5 d-inline-block">
        <i class="fas fa-comment fa-lg"></i>
        <% if current_page?(root_path) %>
          <span class="mx-3">English</span>
        <% else %>
          <span class="mx-2 font-weight-bold" style="font-size:28px;"><span class="main-color">英語</span>を話そう</span>
        <% end %>
      </div>
      <span class="d-inline-block w-50 mt-3 ml-4" style="font-size:18px;color:pink;" data-toggle="modal" data-target="#how-to-read">
        <span class="how-to">
          <i class="far fa-question-circle"></i>
          <%= current_page?(root_path) ? "How to read a meal" : "投稿の読み方" %>
        </span>
      </span>
      <%= render 'shared/meal_explanation'%>
    </div>
    <div class="row justify-content-around">
      <%= render @english_meals %>
    </div>
    <div class="d-flex py-4 mx-3">
      <%= search_form_for @q, url: search_meals_result_path, class: "search_form mx-auto" do |f| %>
        <div class="form-group">
          <%= hidden_field_tag :foreigner_flng_id_eq, Language.first.id  %>
          <%= f.button class: "btn btn-darkblue-reverse search-button px-4", style: "height:40px;" do %>
            <span class="">
              <i class="fa fa-search mx-2"></i>もっと見る
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
