<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag 'main.png', class: "logo"%></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if !japanese_signed_in? && !foreigner_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-link" ><%= link_to "ログイン", new_japanese_session_path %></li>
          <li class="nav-link" ><%= link_to "新規登録", new_japanese_registration_path %></li>
          <li class="nav-link" ><%= link_to "Sign up/login with facebook", new_foreigner_session_path %></li>
        </ul>
      <% else %>
        <% if current_foreigner.nil? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_japanese.full_name%><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><%= link_to "マイページ", japanese_path(current_japanese)  %></li>
                <li><a href="#"><%= link_to "プロフィール編集", edit_japanese_registration_path %></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><%= link_to "サインアウト", destroy_japanese_session_path, method: :delete  %></a></li>
              </ul>
            </li>
          </ul>
        <% elsif current_japanese.nil? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "new meal", new_meal_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_foreigner.name%><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><%= link_to "mypage", foreigner_path(current_foreigner)  %></li>
                <li><a href="#"><%= link_to "edit_profile", edit_foreigner_registration_path %></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><%= link_to "sign_out", destroy_foreigner_session_path, method: :delete  %></a></li>
              </ul>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
