<nav class="navbar navbar-expand-md fixed-top p-0" style="background-color:#FFFAFA;min-height:65px;">
  <div class="container" style="max-width:1270px !important;">
    <%= image_tag 'favicon_300.png', size: "35x35", class: "ml-5 mr-3" %><%= link_to "BiliBuddy", I18n.locale == :ja ? root_path : root_path(locale: :en), class: "navbar-brand font-weight-bold main-logo" %>

    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navcol">
      <span class="h1">=</span>
    </button>
    <div id="navcol" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if !current_user_exists? %>
          <%= render 'shared/header_without_user' %>
        <% elsif japanese? %>
          <%= render 'shared/logged_in_japanese_header' %>
        <% else foreigner? %>
          <%= render 'shared/logged_in_foreigner_header' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= render 'shared/registration_modal' %>
