<nav class="navbar navbar-expand-md fixed-top" style="background-color:#FFFAFA;">
  <div class="container">
    <%= link_to "MEEaT JAPAN", current_page?(root_path) ? root_path : jhome_path, class: "navbar-brand font-weight-bold main-logo" %>
    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navcol">
      <span class="h1">=</span>
    </button>
    <div id="navcol" class="collapse navbar-collapse">
      <% if !current_user_exists? %>
        <%= render 'shared/header_without_user' %>
      <% elsif japanese? %>
        <%= render 'shared/logged_in_japanese_header' %>
      <% else foreigner? %>
        <%= render 'shared/logged_in_foreigner_header' %>
      <% end %>
    </div>
  </div>
</nav>

<%= render 'shared/registration_modal' %>
