<%= render 'shared/meal_search_window' %>

<%= render 'shared/header_notification' %>

<%= render 'shared/header_message' %>

<li class="nav-item dropdown header-face ml-2">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag current_japanese.image.url(:_500), size: "45x45", style: "border-radius: 50%;" %>
  </a>
  <div class="dropdown-menu p-0" aria-labelledby="dropdown">
    <span class="dropdown-item bg-darkorange" style="border-top-left-radius:3px;border-top-right-radius:3px;"></span>
    <%= link_to "プロフィール", japanese_path(current_japanese), class: "dropdown-item" %>
    <%= link_to "設定", edit_japanese_registration_path, class: "dropdown-item" %>
    <%= link_to "自己紹介", new_profile_path, class: "dropdown-item" %>
    <%= link_to "meal", rooms_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to "ログアウト", destroy_japanese_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</li>
