<div class="modal bg-grayorange mx-auto" id="how-to-read" style="height:415px;z-index:1500;width:325px;border-radius:5px;margin-top:50px;">
  <div class="modal-dialog m-0">
    <div class="meal-top pt-2 d-flex bg-white flex-column mb-1" style="width:325px;border-top-left-radius:5px;border-top-right-radius:5px;">
      <div class="text-dark mx-auto d-flex" style="position:relative;">
        <button class="close" style="position:absolute;top:-4px;left:-90px;" data-dismiss="modal">&times;</button>
        <div style="position:absolute;top:-2px;right:-95px;">
          <span class="fa-stack" style="font-size:16px;filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.4));">
            <i class="fas fa-circle fa-stack-2x text-white font-info"></i>
            <i class="fas fa-info fa-stack-1x text-muted"></i>
          </span>
        </div>
        <div class="text-center pt-1">
          <%= image_tag 'default.jpg', class: "home-image mb-2 circle-image", size: "120x120", style: "border:solid 1.5px white;brder-radius:5px;filter:drop-shadow(1px 1px 3px rgba(0,0,0,0.3));"%>
          <div class="mb-3 text-muted" style="font-size:15px;">
            <% if current_page?(root_path) %>
             name, age
            <% else %>
              国籍
              名前, 年齢
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="meal-bottom mx-auto py-2" style="border-radius:5px;width:270px;">
      <div class="mb-2 pb-2" style="border-bottom:dotted 2px white;">
        <div class="ml-2" style="padding:1px;font-size:12px;">
          <i class="fas fa-comment-dots text-white ml-1 pt-2" style="font-size:25px;"></i>
          <span class="ml-1 mr-2 text-white"  style="font-size:24px;">
            :
          </span>
          <span class="font-weight-bold text-white">
             <%= current_page?(root_path) ? "First Language" : "母国語" %>
            <span class="text-white">
             /
            </span>
            <%= current_page?(root_path) ? "Second Language" : "第2言語(あれば)" %>
          </span>
        </div>
      </div>

      <div class="mb-2">
        <div class="ml-2" style="padding:1px;font-size:16px;">
          <span class="fa-stack" style="font-size:15px;">
            <i class="fas fa-circle fa-stack-2x text-white"></i>
            <i class="fas fa-calendar-alt fa-stack-1x meal-color"></i>
          </span>
          <span class="ml-1 mr-2 text-white">
            :
          </span>
          <span class="font-weight-bold text-white">
            <span class="text-white align-center" style="font-size:15px;">
              <%= current_page?(root_path) ? "Date" : "日付" %>
            </span>
          </span>
        </div>
      </div>

      <div class="mb-2">
        <div class="ml-2" style="padding:1px;font-size:16px;">
          <span class="fa-stack" style="font-size:15px;">
            <i class="fas fa-circle fa-stack-2x text-white"></i>
            <i class="fas fa-clock fa-stack-1x meal-color"></i>
          </span>
          <span class="ml-1 mr-2 text-white">
            :
          </span>
          <span class="font-weight-bold text-white">
            <%= current_page?(root_path) ? "Time Zone" : "時間帯" %>
          </span>
        </div>
      </div>

      <div class="mb-2">
        <div class="ml-2" style="padding:1px;font-size:16px;">
          <span class="fa-stack" style="font-size:15px;">
            <i class="fas fa-circle fa-stack-2x text-white"></i>
            <i class="fas fa-map-marker-alt fa-stack-1x meal-color"></i>
          </span>
          <span class="ml-1 mr-2 text-white">
            :
          </span>
          <span class="font-weight-bold text-white">
            <%= current_page?(root_path) ? "Location" : "場所" %>
          </span>
        </div>
      </div>

      <div>
        <div class="ml-1" style="padding:1px;font-size:17px;">
          <span class="fa-stack" style="font-size:15px;margin-left:4px;">
            <i class="fas fa-circle fa-stack-2x text-white"></i>
            <i class="fas fa-users fa-stack-1x meal-color"></i>
          </span>
          <span class="ml-1 mr-2 text-white">
            :
          </span>
          <span>
            <span class="font-weight-bold text-white">
              <%= current_page?(root_path) ? "Number of people" : "合計人数" %>
              <span class="d-inline-block" style="font-size:11px;">
                <span class="mr-2">
                  (<%= current_page?(root_path) ? "number of men" : "男性人数" %>
                </span>
                +
                <span class="ml-2">
                  <%= current_page?(root_path) ? "number of women" : "女性人数" %>)
                </span>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
