<% if Meal.count > 2 %>
  <section class="p-5 bg-white">
    <div class="h2 ml-4 font-weight-bold" style="margin-bottom:70px;">
      <span class="pt-2 pl-3" style="border-left:solid 5px #008BBB;">
        <%= I18n.locale == :en ? "Meals collection" : "外国人を探す"%>
      </span>
    </div>
    <div class="mb-4 h3 w-100">
      <div class="ml-5 d-inline-block">
        <i class="fas fa-plane-arrival fa-lg"></i>
        <% if I18n.locale == :en %>
          <span class="mx-3">Latest Meals</span>
        <% else %>
          <span class="mx-2 font-weight-bold" style="font-size:28px;">新着投稿</span>
        <% end %>
      </div>

      <span class="d-inline-block w-50 mt-3 ml-4" style="font-size:18px;color:pink;" data-toggle="modal" data-target="#how-to-read">
        <span class="how-to">
          <i class="far fa-question-circle"></i>
          <%= I18n.locale == :en ? "How to read a meal" : "投稿の読み方" %>
        </span>
      </span>
      <%= render 'shared/meal_explanation'%>
    </div>
    <div class="row justify-content-around">
      <%= render @new_meals %>
    </div>
    <% if I18n.locale == :ja %>
      <div class="d-flex py-4 mx-3">
        <%= search_form_for @q, url: search_meals_result_path, class: "search_form mx-auto" do |f| %>
          <div class="form-group">
            <%= hidden_field_tag :created_at, "DESC"  %>
            <%= f.button class: "btn btn-darkblue-reverse search-button px-4", style: "height:40px;" do %>
              <span class="">
                <i class="fa fa-search mx-2"></i>もっと見る
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
