<% content_for :edit_foreigner do %>
  <div class="row ml-5">
    <div class="h2 mb-5 mx-5 text-center w-75 border-bottom border-darkorange py-2">Setting</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-100" }) do |f| %>
      <%= render 'shared/devise_errormes', object: f.object %>

      <div class="row mb-4 w-75 ml-3">
        <div class="col-3">
          <%= image_tag current_foreigner.image.url(:_200), size: "100x100", class: "mb-3 border border-dark ml-2 circle-image" %>
        </div>
          <div class="col-4 originalFileBtn mb-3 text-center" style="padding:9px;">
            Choose image
            <%= f.file_field :image %>
          </div>
      </div>

      <div class="cp_iptxt d-flex justify-content-between mb-4">
        <span class="font-weight-bold h5">Name</span>
        <%= f.label :name, "Name", class: "ef w-40", style: "margin-right: 50px;" do %>
          <%= f.text_field :name, class: "ef" %>
        <% end %>
      </div>

      <div class="cp_iptxt d-flex justify-content-between mb-4">
        <span class="font-weight-bold h5">Email</span>
        <%= f.label :Email, "Email", class: "ef w-40", style: "margin-right: 50px;" do %>
          <%= f.text_field :email, class: "ef" %>
        <% end %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <span class="font-weight-bold h5">Age</span>
        <%= f.number_field :age, in: 20..50 , placeholder: "Select", class: "form-control text-muted mr-5", style: "margin-bottom: 1.3rem;width:240px;" %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <span class="font-weight-bold h5">Gender</span>
        <%= f.select :gender, Foreigner.genders.keys, { prompt: "Select" }, { class: "form-control text-muted mr-5", style: "margin-bottom: 1.3rem;width:240px;" }  %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <span class=" font-weight-bold h5">Nation</span>
        <%= f.collection_select :nation_id, Nation.all, :id, :name, { prompt: "Select" }, { class: "form-control text-muted mr-5", style: "margin-bottom: 1.3rem;width:240px;" } %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <span class="font-weight-bold h5">First Language</span>
        <%= f.select :f_lang, Foreigner.f_langs.keys,{ prompt: "Select" }, { class: "form-control text-muted mr-5", style: "margin-bottom: 1.3rem;width:240px;" } %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <span class="font-weight-bold h5">Second Language <br><span class="font-weight-normal" style="font-size:13px;">(If you have one.)</span></span>
        <%= f.select :s_lang, Foreigner.s_langs.keys, { prompt: "Select" }, { class: "form-control text-muted mr-5", style: "margin-bottom: 1.3rem;width:240px;" } %>
      </div>

      <div class="form-group d-flex justify-content-between">
        <span class="font-weight-bold h5">Japanese Level</span>
        <%= f.select :j_l, Foreigner.j_ls.keys, { prompt: "Select" }, {class: "form-control text-muted mr-5", style: "margin-bottom: 1.3rem;width:240px;" } %>
      </div>

      <div class="actions text-center mt-5 h5">
        <%= f.submit "Submit", class: "btn btn-darkorange px-5 py-2" %>
      </div>
    <% end %>
  </div>
<% end %>
