<% content_for :edit_foreigner do %>
  <div class="row mx-auto foreigner-edit">
    <div class="h2 mb-4 text-center w-100 border-bottom border-darkorange py-2 mx-5">Setting</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mx-auto h5" }) do |f| %>
      <%= render 'shared/devise_errormes', object: f.object %>

      <div class="mb-4 d-flex justify-content-center">
        <div class="">
          <%= image_tag current_foreigner.image.url(:_300), size: "100x100", class: "mb-3 border border-dark circle-image" %>
        </div>
          <div class="originalFileBtn mb-3 text-center" style="padding:9px;">
            Choose image
            <%= f.file_field :image %>
          </div>
      </div>

      <div class="cp_iptxt d-flex mb-4">
        <span class="h5 mt-2 text-center mr-3 pl-4" style="width:160px;">Name</span>
        <%= f.label "Name", class: "ef" do %>
          <%= f.text_field :name%>
        <% end %>
      </div>

      <div class="cp_iptxt d-flex mb-4">
        <span class="h5 mt-2 text-center mr-3 pl-4" style="width:160px;">Email</span>
        <%= f.label "Email", class: "ef" do %>
          <%= f.text_field :email %>
        <% end %>
      </div>

      <div class="form-group d-flex">
        <span class="h5 mt-2 text-center mr-3 pl-4" style="width:160px;">Age</span>
        <%= f.number_field :age, in: 20..50 , placeholder: "Select", class: "form-control text-muted", style: "padding:10px 0.5rem;margin-bottom: 0.6rem;max-width:235px;min-width:165px;" %>
      </div>

      <div class="form-group d-flex">
        <span class="h5 mt-2 text-center mr-3 pl-4" style="width:160px;">Gender</span>
        <%= f.select :gender, Foreigner.genders.keys, { prompt: "Select" }, { class: "form-control text-muted", style: "height:46px;margin-bottom: 0.6rem;max-width:235px;min-width:165px;" }  %>
      </div>

      <div class="form-group d-flex">
        <span class="h5 mt-2 text-center mr-3 pl-4" style="width:160px;">Nation</span>
        <%= f.collection_select :nation_id, Nation.all, :id, :name, { prompt: "Select" }, { class: "form-control text-muted", style: "height:46px;margin-bottom:0.6rem;max-width:235px;min-width:165px;" } %>
      </div>

      <div class="form-group d-flex">
        <span class="h5 mt-2 text-center mr-3" style="width:160px;">First Language</span>
        <%= f.collection_select :flng_id, Language.all, :id, :lang, {}, { class: "form-control text-muted", style: "height:46px;margin-bottom:0.6rem;max-width:235px;min-width:165px;" } %>
      </div>

      <div class="form-group d-flex">
        <span class="h6 text-center mt-2 mr-3" style="width:160px;">Second Language<br><span class="font-weight-normal" style="font-size:13px;">(If you have one.)</span></span>
        <%= f.collection_select :slng_id, Language.all, :id, :lang, {}, { class: "form-control text-muted", style: "height:46px;margin-bottom: 0.6rem;max-width:235px;min-width:165px;" }  %>
      </div>

      <div class="form-group d-flex">
        <span class="h5 mt-2 text-center mr-3" style="width:160px;">Japanese Ability</span>
        <%= f.select :j_l, Foreigner.j_ls.keys, { prompt: "Select" }, { class: "form-control text-muted", style: "height:46px;margin-bottom:0.6rem;max-width:235px;min-width:165px;" } %>
      </div>

      <div class="actions text-center mt-5">
        <%= f.submit "Submit", class: "btn btn-darkorange btn-lg px-5 py-2", style: "border-radius:10px;" %>
      </div>
    <% end %>
  </div>
<% end %>
