<div class="row">
  <% @meals.each do |meal| %>
    <div class="colp-md-3">
      <%= meal.foreigner.name %>
      <%= meal.foreigner.nation.flag %>
      <%= image_tag meal.foreigner.nation.flag.url(:thumb), class: "image" %>
      <%= meal.location %>
      <%= meal.lang %>
      <% if japanese? %>
        <%= form_for(current_japanese.matches.build) do |f| %>
          <!-- <%= render 'shared/devise_errormes', object: f.object %> なぜか、エラーあるのにエラーメッセージが出ない。 -->
          <!-- 今の所flashで我慢している。 -->
          <%= f.submit "食事リクエストを送る", class: "btn btn-primary" %>
          <%= hidden_field_tag :meal_id, meal.id %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
