<section id="frist" class="py-4 bg-white">
  <div class="row">
    <div class="col-12 pt-4 pb-4 text-center">
      <h2 class="font-weight-bold mb-3 main-color" style="font-size:32px;">
        Have A Free Meal <span class="d-inline-block">In Japan</span>
      </h2>
      <% if !current_user_exists? %>
        <p class="mb-4 h5 text-muted font-weight-bold" style="font-size:23px;">Visit Japan, Talk Your language, <span class="d-inline-block pt-2">Great Moment</span></p>
        <input class="btn btn-darkorange btn-lg m-auto font-weight-bold" type="submit" value="Sign Up Now" data-toggle="modal" data-target="#registration_modal">
        <%= render 'shared/registration_modal' %>
      <% else %>
        <p class="mb-4 h5 text-muted font-weight-bold" style="font-size:23px;">Visit Japan, Talk Your language, <span class="d-inline-block pt-2">Great Moment</span></p>
        <%= link_to new_meal_path, class: "btn btn-darkorange btn-lg px-4 mt-4",style: "border-radius:10px;" do %>
          <span style="font-size:23px;">Create New Meal here</span>
        <% end %>
      <% end %>
    </div>
    <div class="col d-none d-lg-block">
      <%= image_tag 'people_lg.png', size: "640x180", class: "m-auto d-block"%>
    </div>
    <div class="col d-none d-md-block d-lg-none">
      <%= image_tag 'people_md.png', size: "530x190", class: "m-auto d-block"%>
    </div>
    <div class="col d-none d-sm-block d-md-none">
      <%= image_tag 'people_sm.png', size: "380x180", class: "m-auto d-block"%>
    </div>
    <div class="col d-block d-sm-none">
      <%= image_tag 'people_xs.png', size: "280x190", class: "m-auto d-block"%>
    </div>
  </div>
</section>

<section id="second" class="d-none d-lg-block">
  <div class="jumbotron">
    <div class="row">
      <div class="second-col col-md-4 offset-75 text-center text-white pt-4 pb-2 px-4 border" style="min-width:360px !important;">
        <h2 class="mb-4 mr-auto pb-2 border-bottom border-white">What's <span class="font-weight-bold word-edge d-inline-block"> MEEaT JAPAN</span> ?</h1>
        <p class="text-left" style="line-height: 2;">
          MEEaT JAPAN is web site which easily connects foreigner traveling or studying or working in Japan and the japanese who want to talk with foreigner, and help you meet up with the japanese. In return for chatting and teaching your language and exchanging cultures, they treat you to meal. Foreigner can also ask and know a lot about Japan. Let's spend great time with them.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="second-2" class="p-5 d-block d-lg-none">
  <div class="row justify-content-center">
    <div class="second-col col-sm-10 text-center text-white p-3 mb-5">
      <h2 class="mb-4 mr-auto pb-2 border-bottom border-white">What's <span class="font-weight-bold word-edge d-inline-block"> MEEaT JAPAN</span> ?</h1>
      <p class="pl-4 text-left pr-2" style="line-height:2;">
        MEEaT JAPAN is web site which easily connects foreigner traveling or studying or working in Japan and the japanese who want to talk with foreigner, and help you meet up with the japanese. In return for chatting and teaching your language and exchanging cultures, they treat you to meal. Foreigner can also ask and know a lot about Japan. Let's spend great time with them.
      </p>
    </div>
    <div class="col-12 text-center mb-4 align-self-end">
      <%= image_tag 'bento.png', size: "350x350", class: "img-fluid" %>
    </div>
  </div>
</section>

<section id="third" class="pt-5 pb-2 bg-white">
  <div class="container">
    <div class="row text-center">
      <h1 class="col-12 mb-5 font-weight-bold">How to use <span class="d-inline-block main-color">MEEaT JAPAN</span> ?</h1>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-paper-plane fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">1. Make post</h4>
        <p class="text-muted pl-4 text-left">Input your available date-time, place and number of people. (Maximum 3 people)</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-hands-helping fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">2. Matching </h4>
        <p class="text-muted pl-4 text-left">Choose whether or not you accept offer from japanese when your post was offered. </p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-comments fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">3. Message </h4>
        <p class="text-muted pl-4 text-left">Chat about details of meal and let's know each other. You can also talk using skype.</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-utensils fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">4. meet and eat</h4>
        <p class="text-muted pl-4 text-left">Enjoy conversation with local japanese and let's feel Japan more deeply.</p>
      </div>
    </div>
  </div>
</section>

<section id="forth" class="py-5">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 pb-4 text-bold h1 font-weight-bold">
        Features of <span class="main-color d-inline-block">MEEaT JAPAN</span>
      </div>
      <div class="col-lg-5 col-sm-12 borde my-2 mx-3 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            No need to spend money in a restaurant at all. All you need is just transportation fare to the restaurant.
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 borde my-2 mx-3 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
          No need to be able to read Japanese menu order when you order food. The Japanese order best choice for you.
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 borde my-2 mx-3 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            No need to have an acquaintance with local Japanese before using MEEaT JAPAN. Just meet, eat and talk.
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 borde my-2 mx-3 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            No need to be worried about person you will meet. If you want, You can talk with them beforehand by skype.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/new_meal_collection' %>

<%= render 'shared/footer_for_foreigner'%>
