<section id="frist" class="py-4 bg-white">
  <div class="row">
    <div class="col-12 pt-4 pb-4 text-center">
      <h2 class="mb-3 main-color" style="font-size:45px;font-weight:800;">
        語学学習の<span class="d-inline-block">一歩先へ</span>
      </h2>
      <% if !current_user_exists? %>
        <p class="mb-4 h5 text-muted font-weight-bold" style="font-size:23px;">実際に外国人と会い、食事をご馳走して<span class="d-inline-block pt-2">おもてなししよう</span></p>
        <input class="btn btn-darkorange px-4 btn-lg m-auto font-weight-bold" type="submit" value="無料で登録する" data-toggle="modal" data-target="#registration_modal">
        <%= render 'shared/registration_modal' %>
      <% else %>
        <p class="mb-4 h5 text-muted font-weight-bold" style="font-size:23px;">実際に外国人と会い、食事をご馳走して<span class="d-inline-block pt-2">おもてなししよう</span></p>
      <% end %>
    </div>
    <div class="col d-none d-lg-block">
      <%= image_tag 'people_lg.png', size: "640x180", class: "m-auto d-block"%>
    </div>
    <div class="col d-none d-md-block d-lg-none">
      <%= image_tag 'people_md.png', size: "530x190", class: "m-auto d-block"%>
    </div>
    <div class="col d-none d-sm-block d-md-none">
      <%= image_tag 'people_sm.png', size: "380x180", class: "m-auto d-block"%>
    </div>
    <div class="col d-block d-sm-none">
      <%= image_tag 'people_xs.png', size: "280x190", class: "m-auto d-block"%>
    </div>
  </div>
</section>

<section id="second" class="d-none d-lg-block">
  <div class="jumbotron">
    <div class="row">
      <div class="second-col col-md-4 offset-75 text-center text-white pt-5 pb-4 px-5 border" style="filter:drop-shadow(5px 5px 6px rgba(0,0,0,0.7));">
        <h2 class="mb-4 mx-3 pb-2 border-bottom border-white"><span class="font-weight-bold word-edge d-inline-block"> MEEaT JAPAN</span> とは?</h1>
        <p class="text-left px-4" style="line-height: 1.5;font-size:19px;">
          MEEaT(Meet-会う Eat-食べる)を実現するサービスです。<span class="d-inline-block">外国人の方と、語学を</span>実際に使ってみたい日本人とを繫ぐ手助けをします。
          食事をご馳走して外国人をもてなし、楽しい時間を過ごしましょう。
          <!-- 語学を学び始めたばかりだが外国の方と話してみたい、独学で語学を勉強しているが話す機会がない、スカイプ英会話をやっていて次は実際に会って話したいなどのを希望を実現します。 -->
          <!-- 外国人の方が言語レベルに合わせた楽しい会話してくれます。 -->
        </p>
      </div>
    </div>
  </div>
</section>

<section id="second-2" class="p-5 d-block d-lg-none">
  <div class="row justify-content-center">
    <div class="second-col col-sm-8 col-xs-10 text-center text-white p-2 mb-5 px-4" style="filter:drop-shadow(5px 5px 6px rgba(0,0,0,0.7));">
      <h2 class="mb-4 mr-auto py-2 border-bottom border-white"><span class="font-weight-bold word-edge d-inline-block"> MEEaT JAPAN</span> <span class="d-inline-block">とは？</span></h1>
      <p class="pl-4 text-left pr-2 h6 px-4" style="line-height:1.3;">
        MEEaT(Meet-会う Eat-食べる)を実現するサービスです。<span class="d-inline-block">外国人の方と、語学を</span>実際に使ってみたい日本人とを繫ぐ手助けをします。
        食事をご馳走して外国人をもてなし、楽しい時間を過ごしましょう。
      </p>
    </div>
    <div class="col-12 text-center mb-4 align-self-end">
      <%= image_tag 'bento.png', size: "350x350", class: "img-fluid" %>
    </div>
  </div>
</section>

<section id="third" class="pt-5 pb-2">
  <div class="container">
    <div class="row text-center">
      <h1 class="col-12 mb-5 font-weight-bold">どうやって<span class="d-inline-block main-color">MEEaT JAPAN</span>を使いますか?</h1>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-paper-plane fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">1. 投稿にオファーする。</h4>
        <p class="text-muted pl-2 text-left" style="font-size:15px;">自分に合った食事プランを見つけ、一人あたりの食事予算と事前スカイプの有無を選択してからオファーを送信しましょう。</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-hands-helping fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">2. マッチング </h4>
        <p class="text-muted pl-4 text-left" style="font-size:15px;">オファーの承諾を待ちましょう。承諾されるための鍵は顔がはっきり映った写真を選び、充実した自己紹介文を書く事です。</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-comments fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">3. メッセージ </h4>
        <p class="text-muted pl-4 text-left" style="font-size:15px;">オファーの承諾が完了しましたら、メッセージを通してお互いをのことを知りましょう！また食事の詳細について話し合いましょう。</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <i class="fas fa-utensils fa-5x faa-wrench animated-hover main-color mb-4"></i>
        <h5 class="font-weight-bold mb-3">4. 会う、食事をする</h4>
        <p class="text-muted pl-4 text-left" style="font-size:15px;">気兼ねなく食事を楽しみましょう。相手もあなたのことを知りたがってます。積極的に話しましょう。</p>
      </div>
    </div>
  </div>
</section>

<section id="forth" class="py-5">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 pb-4 text-bold h1 font-weight-bold">
        <span class="main-color d-inline-block">MEEaT JAPAN</span>の特徴
      </div>
      <div class="col-lg-5 col-sm-12 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            MEEaT JAPANは交通費、食費を除いて完全無料でご利用いただけます。その他一切費用はかかりません。
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            まだ外国語に慣れてない方、学習を始めたばかりの方でもご利用いただけます。設定ページで話したい言語と言語レベルを指定しましょう。
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            外国人の方はFacebookを通してのみでしかユーザー登録をすることができません。なので安心、安全です。
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 p-0">
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="far fa-check-circle fa-3x main-color"></i>
          </div>
          <div class="p-2 align-self-center text-left">
            会う前に実際に話したと言う方は、オファー時に'スカイプ会話を希望する'を選択することで実際に会話すことができます。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/new_meal_collection' %>

<%= render 'shared/english_meal_collection' %>


<%= render 'shared/footer_for_foreigner'%>
