<div class="mb-4 px-0 d-inline-block mx-3" style="background-color:#ffa47c;width:290px;border-radius:5px;filter:drop-shadow(1px 1px 4px rgba(0,0,0,0.7));">
  <div class="meal-top pt-2 d-flex bg-white flex-column" style="border-top-left-radius:5px;border-top-right-radius:5px;">
    <div class="text-dark mx-auto d-flex" style="position:relative;">
      <div style="position:absolute;top:124px;right:-47px;"  data-toggle="modal" data-target="#home-user-<%= meal.foreigner.id %>">
        <span class="fa-stack faa-wrench animated-hover" style="font-size:20px;filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.9));">
          <i class="fas fa-circle fa-stack-2x text-white font-info"></i>
          <i class="fas fa-info fa-stack-1x" style="color:#008BBB;"></i>
        </span>
      </div>

      <% if japanese? && !meal.already_matched? %>
        <div style="position:absolute;top:1px;right:180px;">
          <% if !Favor.exists?(meal_id: meal.id, japanese_id: current_japanese.id) %>
            <%= link_to meal_favors_path(meal), method: :post do %>
              <i class="far fa-heart fa-2x text-danger meal-heart"></i>
            <% end %>
          <% else %>
            <%= link_to favor_path(Favor.find_by(meal_id: meal.id, japanese_id: current_japanese.id )), method: :delete do %>
              <i class="fas fa-heart fa-2x text-danger meal-heart"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="text-center pt-1">
        <%= image_tag meal.foreigner.image.url(:_700), class: "home-image mb-2 circle-image", size: "100x100", style: "border:solid 1.5px white;brder-radius:5px;filter:drop-shadow(1px 1px 3px rgba(0,0,0,0.5));"%>
        <div class="mb-1 mr-3 text-muted font-weight-bold" style="font-size:18px;" data-toggle="modal" data-target="#home-user-<%= meal.foreigner.id %>">
          <%= image_tag meal.foreigner.nation.flag.url, size: "33x20", class: "align-top mr-2", style: "filter:drop-shadow(2px 2px 3px rgba(0,0,0,0.3));" %>
          <%= meal.foreigner.name.truncate(13) %> , <%= meal.foreigner.age %>
        </div>
      </div>
    </div>
  </div>

  <div class="meal-bottom mx-auto pt-2 pb-1" style="border-radius:5px;width:245px;">

    <div class="ml-2 mt-1" style="padding:1px;font-size:17px;">
      <span class="fa-stack" style="font-size:14px;">
        <i class="fas fa-circle fa-stack-2x text-white"></i>
        <i class="fas fa-comment-dots fa-stack-1x meal-color" style="font-size:19px;"></i>
      </span>
      <span class="ml-1 mr-2 text-white">
        :
      </span>
      <span class="font-weight-bold text-white">
        <%= meal.foreigner.flng.lang %>
        <% if meal.foreigner.slng && meal.foreigner.slng.lang != "none" %>
          <span class="text-white">
           /
          </span>
           <%= meal.foreigner.slng.lang %>
        <% end %>
      </span>
    </div>

    <div class="ml-2" style="padding:1px;font-size:17px;">
      <span class="fa-stack" style="font-size:14px;">
        <i class="fas fa-circle fa-stack-2x text-white"></i>
        <i class="fas fa-calendar-alt fa-stack-1x meal-color" style="font-size:17px;"></i>
      </span>
      <span class="ml-1 mr-2 text-white">
        :
      </span>
      <span class="font-weight-bold text-white">
        <%= current_page?(root_path) ? meal.date.strftime("%dth %b %Y (%a)") : meal.date.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[meal.date.wday]})") %>
        </span>
      </span>
    </div>

    <div class="ml-2" style="padding:1px;font-size:17px;">
      <span class="fa-stack" style="font-size:14px;">
        <i class="fas fa-circle fa-stack-2x text-white"></i>
        <i class="fas fa-clock fa-stack-1x meal-color" style="font-size:19px;"></i>
      </span>
      <span class="ml-1 mr-2 text-white">
        :
      </span>
      <span class="font-weight-bold text-white">
        <%= meal.time %>
      </span>
    </div>

    <div class="ml-2" style="padding:1px;font-size:17px;">
      <span class="fa-stack" style="font-size:14px;">
        <i class="fas fa-circle fa-stack-2x text-white"></i>
        <i class="fas fa-map-marker-alt fa-stack-1x meal-color" style="font-size:19px;"></i>
      </span>
      <span class="ml-1 mr-2 text-white">
        :
      </span>
      <span class="font-weight-bold text-white">
        <%= meal.location.name %>, <%= meal.location.prefecture.name %>
      </span>
    </div>

    <div class="ml-1" style="padding:1px;font-size:17px;">
      <span class="fa-stack" style="font-size:14px;margin-left:4px;">
        <i class="fas fa-circle fa-stack-2x text-white"></i>
        <i class="fas fa-users fa-stack-1x meal-color" style="font-size:19px;"></i>
      </span>
      <span class="ml-1 mr-2 text-white">
        :
      </span>
      <span>
        <span class="font-weight-bold text-white">
          <span style="font-size:17px;"><%= meal.male + meal.female %></span> <%= current_page?(root_path) ? "ppl" : "人" %>
          <span style="font-size:14px;">
            (<i class="fas fa-male text-white ml-2"></i><span class="mr-1"> <%= meal.male%></span>+<i class="fas fa-female text-white ml-2"></i> <%= meal.female%> )
          </span>
        </span>
      </span>
    </div>

    <div class="ml-1" style="padding:1px;font-size:17px;">
      <span class="fa-stack" style="font-size:14px;margin-left:4px;">
        <i class="fas fa-circle fa-stack-2x text-white"></i>
        <i class="fab fa-skype fa-stack-1x meal-color" style="font-size:19px;"></i>
      </span>
      <span class="ml-1 mr-2 text-white">
        :
      </span>
      <span class="font-weight-bold text-white">
        <% if meal.skype == true%>
          <%= current_page?(root_path) ? "Yes, I want to." : "はい"%>
        <% else %>
          <%= current_page?(root_path) ? "No, I don't want to." : "いいえ"%>
        <% end %>
      </span>
    </div>
  </div>

  <% if japanese? %>
    <div class="bg-white" style="padding:4px 0;border-top:dashed 2px white;border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
      <% if meal.already_matched? %>
        <div class="d-flex justify-content-around pb-1">
          <% if meal.room.japanese.id == current_japanese.id %>
            <%= button_to "マッチング済み。メッセージを送る", room_path(meal.room), method: :get, class: "btn mb-1 font-weight-bold text-white mx-auto py-2 px-2 matched-btn", style: "background-color:red;border-radius:3px;display:block !important;font-size:14px;filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.3));" %>
          <% else %>
            <%= button_to "マッチング済み", '#', method: :get, class: "btn mb-1 font-weight-bold text-white mx-auto py-2 px-4", style: "background-color:#888888;border-radius:3px;display:block !important;font-size:14px;filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.3));" %>
          <% end %>
        </div>
      <% elsif !meal.matches.find_by(japanese_id: current_japanese.id).nil? && !meal.matches.find_by(japanese_id: current_japanese.id).ok? %>
        <input class="btn mb-1 font-weight-bold text-white mx-auto py-2 px-4" style="background-color:#FFCC00;border-radius:3px;display:block !important;font-size:17px;filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.3));" type="submit" value="オファー済み">
      <% elsif meal.matches.find_by(japanese_id: current_japanese.id).nil? %>
        <input class="btn mb-1 font-weight-bold text-white mx-auto py-2 px-4 offer-btn" style="background-color:#008BBB;border-radius:3px;display:block !important;font-size:17px;filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.3));" type="submit" value="予算を決めてオファーする" data-toggle="modal" data-target="#offer_modal_<%= meal.id %>">
      <% end %>
    </div>
  <% end %>
</div>
<% if japanese? %>
  <%= render partial: 'shared/offer_confirmation', locals: { meal: meal } %>
<% end %>


<!-- MODAL -->
<div class="modal" id="home-user-<%= meal.foreigner.id %>" style="z-index:1500;margin-top:-70px;">
  <div class="modal-dialog">
    <div class="col mr-4 bg-lightorange text-center py-3" style="max-width:430px;min-width:430px;border-radius:10px;margin-bottom:100px;filter:drop-shadow(1px 0px 6px rgba(0,0,0,0.3));margin-top:30px;">
      <div class="left-image" style="margin-top:5px;">
        <button class="close" data-dismiss="modal">&times;</button>
        <% if meal.foreigner.image %>
          <%= image_tag meal.foreigner.image.url(:_700), size: "300x300", class: "border border-lightorange", style: "border-radius:10px;" %>
        <% else %>
          <%= image_tag 'default.jpg', size: "250x250", class: "circle-image border border-dark"%>
        <% end %>
      </div>

      <div class="d-flex justify-content-center mb-2 pb-1 border-bottom border-secondary">
        <div class="mr-2 h5 align-self-center" style="font-family:'Helvetica Neue';">
          <%= meal.foreigner.name %>
          <% if meal.foreigner.age %>
            <span class="font-weight-normal" style="font-size:18px;">(<%= meal.foreigner.age %>)</span>
          <% end %>
        </div>
        <div class="">
          <% if meal.foreigner.nation %>
            <%= image_tag meal.foreigner.nation.flag.url, size: "37x23", style: "border-radius:0px;" %>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-center mr-5 mb-2">
        <div class="ml-4 py-1 border font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;max-height:29px;border-radius:4px;font-size:13px;opacity:0.9;">
          Nation
        </div>
        <div class="ml-4 mb-0 h5 align-self-end text-left">
          <%= meal.foreigner.nation ? meal.foreigner.nation.name : "none" %>
        </div>
      </div>

      <div class="d-flex justify-content-center mr-5 mb-2">
        <div class="ml-4 py-1 border font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;max-height:29px;border-radius:4px;font-size:13px;opacity:0.9;">
          Japanse Ability
        </div>
        <div class="ml-4 mb-0 h5 align-self-end text-left">
          <%= meal.foreigner.j_l ? meal.foreigner.j_l : "none" %>
        </div>
      </div>

      <div class="d-flex justify-content-center mr-5 mb-2">
        <div class="ml-4 py-1 border font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;max-height:29px;border-radius:4px;font-size:13px;opacity:0.9;">
          First Language
        </div>
        <div class="ml-4 mb-0 h5 align-self-end text-left mr-3">
          <%= meal.foreigner.flng.lang %>
        </div>
      </div>

      <div class="d-flex justify-content-center mr-5 mb-2">
        <div class="ml-4 py-1 border font-italic bg-darkorange border-darkorange text-white" style="min-width:129px;max-height:29px;border-radius:4px;font-size:13px;opacity:0.9;">
          Seocond Language
        </div>
        <div class="ml-4 mb-0 h5 align-self-end text-left mr-1">
          <%= meal.foreigner.slng ? meal.foreigner.slng.lang : "none" %>
        </div>
      </div>

      <div class="pt-2 pl-4 text-left font-italic" style="border-radius:4px;font-size:17px;opacity:0.9;">
        <i class="fas fa-user mr-1"></i>
        profile
      </div>
      <div class="container bg-white pt-3 border border-white" style="border-radius:10px;">
        <div class="mx-auto text-left text-muted" style="font-size:12px;border-radius:4px;padding:5px 18px 18px 18px;">
          <%= meal.foreigner.profile.intro  %>
        </div>
      </div>
    </div>
  </div>
</div>
