<div class="text-center new_meal" style="padding-top:15px;">
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10 col-xs-8 mx-auto bg-white border-top border-darkorange px-0" style="border-radius:7px;filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.4));">
      <div class="bg-darkorange text-white pt-3 h4" style="height:60px;border-top-left-radius:5px;border-top-right-radius:5px;">
        <i class="fas fa-coffee mr-2"></i>
        <%= current_page?(new_meal_path) ? "Compose new Meal" : "Edit Meal" %>
      </div>
      <%= form_for(@meal) do |f| %>
        <%= render 'shared/devise_errormes', object: f.object %>
        <div class="form-group">

          <div class="mb-45 mt-5" style="margin-right:54px;">
            <%= f.label :date, "Date(yyyy/mm/dd): ", class: "font-weight-bold ml-4" %>
            <span class="ml-2">
              <i class="fas fa-calendar-alt main-color"></i>
            </span>
            <%= f.text_field :date, placeholder: "select", class: "form-control  d-inline-block", id: "new-meal-datepicker", style: "width:150px;", autocomplete: 'off' %>
          </div>

          <div class="mb-45" style="margin-left:6px;">
            <%= f.label :time, "Time of Day :", class: "font-weight-bold ml-3" %>
            <span class="ml-1">
              <i class="fas fa-clock main-color"></i>
            </span>
            <%= f.select :time,  [["0am - 9am","0am-9am" ], ["09am - 12pm", "09am-12pm"],["12pm - 15pm", "12pm-15pm"],["15pm - 18pm ", "15pm-18pm"],["18pm - 21pm", "18pm-21pm"],["21pm - 24pm", "21pm-24pm"] ], { prompt: "select" } , { class: "form-control  d-inline-block", style: "width:150px;" } %>
          </div>

          <div class="mb-0" style="margin-right:55px;">
            <%= f.label :male, "How Many People? :", class: "font-weight-bold ml-4" %>
            <span class="ml-2">
              <i class="fas fa-male fa-lg main-color"></i>
            </span>
            <%= f.select :male,  [["0 male", 0], ["1 male", 1],["2 males", 2],["3 males", 3],], {}, { class: "form-control  d-inline-block", style: "width:150px;border-bottom-style:hidden !important;" }  %>
          </div>

          <div class="mb-45" style="margin-left:-4px;">
            <%= f.label :female, "(Maximum 3 people)", class: "text-muted", style: "font-size:10px;vertical-align:top;margin-left:28px !important;" %>
            <span class="ml-2">
              <i class="fas fa-female fa-lg main-color"></i>
            </span>
            <%= f.select :female,  [["0 female", 0], ["1 female", 1],["2 females", 2],["3 females", 3],], {} , { class: "form-control  d-inline-block", style: "width:150px;border-top-right-radius:0px !important;" } %>
          </div>

          <div class="mb-45" style="margin-left:48px;">
            <%= f.label :location, "Location :", class: "font-weight-bold ml-2" %>
            <span class="ml-2">
              <i class="fas fa-map-marker-alt main-color"></i>
            </span>
            <%= f.grouped_collection_select(:location_id, Prefecture.all, :locations, :name_en, :id, :name_en, { prompt: "select" } , { class: "form-control  d-inline-block", style: "width:150px;" } ) %>
          </div>

          <div class="mb-45" style="margin-left:53px;">
            <%= f.label :skype, "skype : ", class: "font-weight-bold ml-3" %>
            <span class="ml-2">
              <i class="fab fa-skype main-color"></i>
            </span>
            <%= f.select(:skype, [["Yes, I want to", 0], ["No, I don't want to", 1]], {}, { class: "form-control  d-inline-block", style: "width:150px;" } ) %>
          </div>

          <div class="actions pb-4">
            <%= f.submit "Post", class: "btn btn-darkorange btn-lg px-5" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
