<div class="container my-5">
  <div class="row">
    <%= image_tag @match.japanese.image.url(:_700), size: "210x210", class: "mb-3", style: "border-radius:4px;" %>
    <%= @match.japanese.nickname.capitalize %>
    <%= @match.japanese.full_name %>
  </div>
</div>



<!-- <%= button_to 'approve request', meal_match_path(@match), method: :put, class: "btn btn-primary"%>
<%= button_to 'cancel request', meal_match_path(@match), method: :delete, class: "btn btn-primary"%>
<%=%> -->
