<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/message_toastr' %>
    <%= yield %>
    <% if I18n.locale == :ja %>
      <%= render 'shared/footer_for_japanese' %>
    <% elsif I18n.locale == :en %>
      <%= render 'shared/footer_for_foreigner' %>
    <% end %>
  </body>
</html>
