<!DOCTYPE html>
<html>
  <head>
    <title>MEEaT JAPAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />

    <!-- Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/message_toastr' %>
    <%= yield %>
    <% if current_page?(jhome_path) || japanese? %>
      <%= render 'shared/footer_for_japanese' %>
    <% elsif current_page?(root_path) || foreigner? %>
      <%= render 'shared/footer_for_foreigner' %>
    <% end %>
  </body>
</html>
