<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/message_toastr' %>
    <%= render 'shared/common_for_user' %>
    <% if japanese? %>
      <%= render 'shared/footer_for_japanese' %>
    <% else %>
      <%= render 'shared/footer_for_foreigner' %>
    <% end %>
  </body>
</html>
